<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5">

    <display-name>Lucas Web Application</display-name>
    <!-- 置servlet，可以配置多个 -->
    <servlet>
        <servlet-name>zmvc</servlet-name>
        <servlet-class>com.lucas.spring.init.v1.ZDispatcherServlet</servlet-class>
        <!-- 初始化参数，可以配置多个 -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>application.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- servlet映射，通过servlet-name与上面配置的servlet对应 -->
    <servlet-mapping>
        <servlet-name>zmvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>